:root {
  --primary : #E26E70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( to left bottom, #FECA72, #C953BE, #4357CF );
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.button-modal {
  font-size: 2rem;
  padding: 20px 40px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.button-modal:hover {
  opacity: 0.9;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 450px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  animation: modalShow 0.25s linear;
}

.modal_heading {
  width: 100%;
  height: 50px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.modal_heading i {
  font-size: 1.6rem;
  cursor: pointer;
}

.modal_header {
  font-size: 1.6rem;
  font-weight: normal;
}

.modal_body {
  color: #333;
  padding: 16px;
}

.modal_body-title {
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 600;
}

.modal-content {
  font-size: 1.5rem;
}

.modal_footer {
  margin-right: 16px;
  float: right;
}

.close-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
}

.hide {
  display: none;
}

@keyframes modalShow {
  from {
    top: 200px;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}
